.HeaderCampaingn{
   width: 100%;
}
.InitialCampaingnBox{
   padding: 2% 0% 1% 0%;
   background-color: #457EB9;
   color: white;
}
.InitialCampaingn{
   font-size: calc(1.0rem + 1vw);
   
}
.InitialCampaingn p{
   margin: 0% 0%;
   line-height: 1.2;
}
.InitialCampaingnText p{
   text-align: center;
   display: block;
   width: 60%;
   margin: 0% auto;
   font-size: calc(0.5rem + 1vw);  
}
.InitialCite{
   position: absolute;
   top: 15%;
   left: -8%;
   color: #0080BC;
   font-size: calc(2.5rem + 2vw);
   line-height: 0.1;
}
.FinalCite{
   color: #0080BC;
   position: absolute;
   right: 10%;
   font-size: calc(2.5rem + 2vw);
   line-height: 0.8;
}
.GwynethCite{
   margin: 12% 0% 0% 0%;
}
.VideoPure{
   background-color: #E7E7E7;
   margin-top: 5%;
   margin-bottom: 5%;
   text-align: center;
}
.VideoPureText{
   text-align: left;
   color: #306085;
   padding: 0% 0% 0% 0%;
}
.VideoPuroyProbado{
   width: auto;
}
.rowPurify::after{
   content: " ";
   border-bottom:solid 2px#306088;
   width: 80%;
}
.VideoPurify{
   background-color: #457EB6;
   color: white;
}
.VideoPurifyText{
   padding: 0% 20% 0% 10%;
}
.MerzAestheticsBoxMain{
   display: flex;
   width: 90%;
   margin: 0% auto;
}
.MerzAestheticsTextWBox{
   width: 50%;
   padding: 0% 2% 0% 0%;
}
.MerzAestheticsTextBox{
   width: 50%;
   background-color: #306088;
   color: white;
   padding: 4% 0% 0% 3%;
}
.BotonsGPBox{
   display: flex;
   width: 90%;
   margin: 5% auto 0% auto;

}
.MERZBox2{
   padding: 1% 2% 0% 0%;
   margin: 5% 0% 5% 0%;
   position: relative;
}
.MERZBox2 img{
   width: 100%;
}
.PaintLPic{
   height: 440%;
   position: absolute;
   left:0%;
   top: -110%;
}
.MerzSubtitle2{
   font-size: calc(1.1rem + 0.1vw);/*0.6rem*/
   text-align: end; 
   border-right: solid 2px black;
   padding: 0% 0.5% 0% 0%;
}
.MerzSubtitle2 p{
   margin: 5% 0% 5% 0%;
}
.MerzTitle2{
   font-size: calc(1.5rem + 0.2vw)/* 1.2rem */;
   margin: auto;
}
.GPBeauty{
   width: 100%;
   margin-bottom: 5%;
}
.GPAbout{
   width: 100%;
   margin: 5% 0%;
}
/*WEB*/
@media(min-width:769px){
   .CampaignMov{
      display: none;
   }
   .VideoTitle{
      display: block;
      margin: auto 0%;
   }
   .GoPure{
      display: block;
      width: 100%;
      margin: 0% auto 3% auto;
   }
   .GwynethBox{
      display: block;
      width: 90%;
      margin: 0% auto;
   }
   .GPBeauty{
      width: 100%;
   }
   .GPText{
      width: 60%;
      display: block;
      margin: 1% auto;
   }
   .VidPure{
      margin: 5% 0%;
      width: calc(640px + 5vw);
      max-width: 110%;
      height: calc(360px + 5vh);
      max-height: 110%;
   }
   .MerzText{
      display: flex;
      width: 65%;
      margin: 5% auto;
   }
   .VideoPurify{
      background-color: #457EB6;
      color: white;
      margin-top: 5%;
      margin-left: 5%;
      width: 90%;
   }
   .VidPurify{
      margin: 5% 0%;
      width: calc(640px + 5vw);
      max-width: 110%;
      height: calc(360px + 5vh);
      max-height: 110%;
   }
   .VidPureMov{
      display: none;
   }
   .VidPurifyMov{
      display: none;
   }
   .EmotionText{
      padding: 0% 10%;
      margin: 0%;
      border-right: solid 3px #306088;
   }
}
/*MOBILE*/
@media(max-width:768px){
   .CampaignWeb{
      display: none;  
   }
   .CampaignMainBox{
      overflow: hidden;
   }
   .CampaignHeaderText{
      width: 100%;
   }
   .InitialCampaingnText{
      display: block;
      width: 100%;
      margin: 0% auto 0% auto;
   }
   .InitialCampaingnText p{
      text-align: left;
      display: block;
      width: 80%;
      margin: 0% auto 5% auto;
      font-size: calc(0.5rem + 1vw);  
   }
   .GwynethBox{
      display: block;
      width: 80%;
      margin: 5% auto 0% auto;
      padding: 0%;
   }
   .GPBeauty{
      width: 100%;
   }
   .GwynethPostText{
      display: block;
      width: 80%;
      margin: 0% auto 0% auto;
   }
   .VidPure{
      margin: 5% 0%;
   }
   .VideoPurePostTextBox{
      display: block;
      width: 80%;
      margin: 0% auto 0% auto;
   }
   .VideoPurify{
    text-align: left; 
   }
   .VideoPurifyPostTextBox{
      display: block;
      width: 80%;
      margin: 5% auto 0% auto;
   }
   .VideoPureText{
      text-align: center;
      color: #306085;
      padding: 5% 0% 0% 0%;
   }
   .MerzAestheticsBoxMain{
      display: block;
      width: 80%;
      margin: 0% auto 0% auto;
   }
   .VidPurify{
      display: block;
      margin: 0% auto;
   }
   .VidPurifyWeb{
      display: none;
   }
   .VideoPurifyText{
      padding: 0% 0% 0% 10%;
      text-align: left;
   }
}