.HeaderCampaingn{
   width: 100%;
}
.InitialCampaingnBox{
   padding: 5% 0% 0% 0%;
}
.InitialCampaingn{
   font-size: calc(1.0rem + 1vw);
   
}
.InitialCampaingn p{
   margin: 0% 0%;
   line-height: 1.2;
}
.InitialCampaingnText p{
   font-size: calc(0.5rem + 1vw);  
}
.InitialCite{
   position: absolute;
   top: 15%;
   left: -8%;
   color: #0080BC;
   font-size: calc(2.5rem + 2vw);
   line-height: 0.1;
}
.FinalCite{
   color: #0080BC;
   position: absolute;
   right: 10%;
   font-size: calc(2.5rem + 2vw);
   line-height: 0.8;
}
.GwynethCite{
   margin: 12% 0% 0% 0%;
}
.VideoPure{
   background-color: #E7E7E7;
   margin-top: 5%;
   margin-bottom: 5%;
   text-align: center;
}
.VideoPureText{
   text-align: left;
   color: #306085;
   padding: 20% 15% 0% 8%;
}

.VideoPuroyProbado{
   width: auto;
}
.rowPurify{
   border-bottom:solid 2px#306088;
}
.VideoPurify{
   background-color: #457EB6;
   color: white;
   margin-top: 5%;
   margin-left: 5%;
   width: 90%;
}
.VideoPurifyText{
   padding: 20% 20% 0% 10%;
}
.MerzAestheticsTextWBox{
   padding: 0% 5% 5% 8%;
}
.MerzAestheticsTextBox{
   background-color: #306088;
   color: white;
   padding: 5% 10% 5% 5%;
}
.MERZBox2{
   padding: 1% 2% 0% 0%;
   margin: 5% 0% 5% 0%;
   position: relative;
}
.MERZBox2 img{
   width: 100%;
}
.PaintLPic{
   height: 440%;
   position: absolute;
   left:0%;
   top: -110%;
}
.MerzSubtitle2{
   font-size: calc(1.1rem + 0.1vw);/*0.6rem*/
   text-align: end; 
   border-right: solid 2px black;
   padding: 0% 0.5% 0% 0%;
}
.MerzSubtitle2 p{
   margin: 5% 0% 5% 0%;
}
.MerzTitle2{
   font-size: calc(1.5rem + 0.2vw)/* 1.2rem */;
   margin: auto;
}
.GPBeauty{
   width: 100%;
   margin-bottom: 5%;
}
.GPAbout{
   width: 100%;
   margin: 5% 0%;
}
.EmotionText{
   padding: 0% 10%;
   margin: 0%;
   border-right: solid 3px #306088;
}
@media(min-width:769px){
   .VidPure{
      margin: 5% 0%;
      width: calc(640px + 5vw);
      max-width: 110%;
      height: calc(360px + 5vh);
      max-height: 110%;
   }
   .VidPurify{
      margin: 5% 0%;
      width: calc(640px + 5vw);
      max-width: 110%;
      height: calc(360px + 5vh);
      max-height: 110%;
   }
   .VidPureMov{
      display: none;
   }
   .VidPurifyMov{
      display: none;
   }
}
@media(max-width:768px){
   .VidPure{
      margin: 5% 0%;
      width: 100%;
      height: auto;
   }
   .VidPurify{
      width: 100%;
      height: auto;
   }
   .VidPureWeb{
      display: none;
   }
   .VideoPureText{
      text-align: center;
      color: #306085;
      padding: 5% 0% 0% 0%;
   }
   .VidPurifyWeb{
      display: none;
   }
   .VideoPurifyText{
      padding: 0%;
      text-align: center;
   }
}