.SocialBox{
   background-color: #457EB9;
   color: white;
   padding: 2% 0% 2% 0%;
   margin: 3% 0% 5% 0%;
}
.SocialBox a{
   color: white;
}
.VisitBox{
   text-align: center;
   padding: 0% 2%;
   width: 16%;   
}
.VisitBox p{
   border-bottom: solid 2px white;
   width: 100%;
}
.InstaBlack{
   width: 10%;
   margin: 5% 0%;
}
.WebBlack{
   width: 10%;
   margin: 5% 0%;
}
.instaBox{
   text-align: center;
   width: 30%;
}
.WebBox{
   text-align: center;
   width: 30%;
}
@media(max-width:768px){
   .InstaBlack{
      width: 20%;
      margin: 5% 0%;
   }
   .WebBlack{
      width: 20%;
      margin: 5% 0%;
   }
   .VisitBox{
      padding: 0% 1%;
      text-align: center;
      width: 17%;      
   }
   .instaBox{
      padding: 0% 5px;
      text-align: center;
      width: 40%;
   }
   .WebBox{
      padding: 0% 5px;
      text-align: center;
      width: 40%;
   }
   .SocialBox div{
      margin: 0%;
   }
}