.SocialBox{
   background-color: #457EB9;
   color: white;
   padding: 2% 0% 2% 0%;
   margin: 3% 0% 5% 0%;
   
}
.SocialBox a{
   color: white;
}
.VisitBox{
   text-align: center;
   padding: 0% 2%;
   width: 16%;   
}
.VisitBox p{
   border-bottom: solid 2px white;
   width: 100%;
}
.InstaBlack{
   width: 10%;
   margin: 5% 0%;
}
.WebBlack{
   width: 10%;
   margin: 5% 0%;
}
.instaBox{
   text-align: center;
   width: 30%;
}
.WebBox{
   text-align: center;
   width: 30%;
}
.UniqueExp{
   display: table;
   color: #306088;
   margin: 2% auto;
}
@media(min-width:769px){
   .SocialMov{
      display: none;
   }
   .SocialWeb{
      display: block;
      width: 65%;
      margin: 0% auto 0% auto;
   }
   .SocialBox{
      display: block;
      margin: 5% auto 5% auto;
   }
   .UniqueExp{
      display: table;
      color: #306088;
      margin: 2% auto;
      padding: 0% 26%;
      text-align: center;
   }
}
/*MOBILE*/
@media(max-width:768px){
   .SocialWeb{
      display: none;
   }
   .SocialMov{
      display: block;
      width: 90%;
      margin: 0% auto;
   }
   .SocialBox{
      position: relative;
      background-color: transparent;
      width: 100%;
   }
   .InstaMov{
      /* border: solid red 3px; */
      position: absolute;
      top: 25%;
      bottom: 25%;
      left: 32%;
      right: 38%;
   }
   .WebMov{
      /* border: solid purple 3px; */
      position: absolute;
      top: 25%;
      bottom: 25%;
      left: 64%;
      right: 8%;
   }
   .UniqueExp{
      text-align: center;
   }
   
}