.KnowMoreXeo{
   background-color: #306088;
   text-align: center;
   color: white;
   font-size: calc(1.5rem + 1vw);
}
.XeominTitlePic{
   width: 10%;
}
.InfoXeo{
   width: 80%;
}
.CampaingnGlobal{
   width: 80%;
}