.KnowMoreXeo{
   background-color: transparent;
   text-align: center;
   color: white;
   margin-bottom: 5%;
}
.XeominHomeTitlePic{
   width: 100%;
}

@media(max-width:768px){
   .InfoXeo{
      width: 100%;
      box-shadow: 10px 10px 10px rgba(24, 24, 27, 0.2);
   }
   .CampaingnGlobal{
      width: 100%;
      box-shadow: 10px 10px 10px rgba(24, 24, 27, 0.2);
   }
}
@media(min-width:769px){
   .InfoXeo{
      width: 80%;
      margin-bottom: 5% ;
   }
   .InfoXeo:hover{
      transform: scale(1.1);
   }
   .CampaingnGlobal{
      width: 80%;
      
      margin-bottom: 5% ;
   }
   .CampaingnGlobal:hover{
      transform: scale(1.1);
   }
}