.KnowMoreXeo{
   background-color: transparent;
   text-align: center;
   color: white;
   margin-bottom: 5%;
}
.XeominHomeTitlePic{
   width: 100%;
}

@media(max-width:768px){
   .HomeMainWebBox{
      display: none;
   }
   .KnowMoreXeo{
      display: block;
      width: 90%;
      margin: 0% auto 5% auto;
   }
   .HomeMainWMovBox{
      display: block;
      width: 80%;
      margin: 0% auto;
   }
   .InfoXeo{
      width: 100%;
      box-shadow: 10px 10px 10px rgba(24, 24, 27, 0.2);
   }
   .CampaingnGlobal{
      width: 100%;
      box-shadow: 10px 10px 10px rgba(24, 24, 27, 0.2);
   }
}
@media(min-width:769px){
   .HomeMainWMovBox{
      display: none;
   }
   
   .HomeMainWebBox{
      display: block;
      width: 65%;
      margin: 0% auto;
   }
   
   .InfoXeoBox{
      display: inline-block;
      width: 50%;
   }
   .CampaingnGlobalBox{
      text-align: end;
      display: inline-block;
      width: 50%;
   }
   .InfoXeo{
      text-align: left;
      width: 95%;
      margin-bottom: 0% ;
      box-shadow: 10px 10px 10px rgba(24, 24, 27, 0.2);
   }
   .InfoXeoBox:hover .InfoXeo{
      transform: scale(1.1);
   }
   .CampaingnGlobal{
      text-align: right;
      width: 95%;
      margin-bottom: 0% ;
      box-shadow: 10px 10px 10px rgba(24, 24, 27, 0.2);
   }
   .CampaingnGlobalBox:hover .CampaingnGlobal{
      transform: scale(1.1);
   }
}