.KnowMoreXeo{
   background-color: transparent;
   text-align: center;
   color: white;
   margin-bottom: 5%;
}
.XeominHomeTitlePic{
   width: 100%;
}

@media(max-width:768px){
   .InfoXeo{
      width: 100%;
   }
   .CampaingnGlobal{
      width: 100%;
   }
}
@media(min-width:769px){
   .InfoXeo{
      width: 80%;
   }
   .CampaingnGlobal{
      width: 80%;
   }
}