.HeaderPic{
   width: 100%;
}
.TestimonyVid{
 background-color: rgba(54, 54, 54, 0.95); 
 color: white;
 /* padding: 2% 2% 2% 2%; */
 margin: 0% 0% 5% 0%;
 width: 100%; 
}
.TestimonyText{
   padding: 5% 8% 5% 8%;
}

@media(min-width:769px){
   .HeaderMovPic{
      display: none;
   }
   .TestimonyMovVid{
      display: none;
   }
   .TestimonyVid{
      display: flex;
   }
   .TestimonyBox{
      display: flex;
      width: 65%;
      margin: 0% auto;
      align-items: center;
   }
   .TestimonyTextBox{
      display: block;
      width: 36%;
      margin: 0% auto 0% auto;
   }
   .TestimonyText{
      display: block;
      width: 70%;
   }
   .TestimonyVideoBox{
      display: block;
      width: 45%;
      margin: 0% auto 0% auto;
   }
   .VidCarolina{
      margin: 5% 0% 5% -11%;
      width: calc(480px );
      /* max-width: 110%; */
      height: calc(270px);
      /* max-height: 110%; */
   }
}
@media(max-width:768px){
   .HeaderPic{
      display: none;
   }
   .TestimonyVid{
      display: none;
   }
   .TestimonyMovVid{
      background-color: rgba(54, 54, 54, 0.95); 
      color: white;
      /* padding: 2% 2% 2% 2%; */
      margin: 0% 0% 5% 0%;
      width: 100%; 
   }
   .TestimonyBox{
      display: block;
      width: 90%;
      margin: 0% auto;
      padding-bottom: 5%;
   }
   .TestimonyTextBox{
      display: block;
      width: 90%;
      margin: 0% auto;
      text-align: center;
   }
   /* .TestimonyVideoBox{
      display: block;
      width: 90%;
      margin: 0% auto;
   } */
   .TestimonyVideoBox{
      position: relative;
      padding-bottom: 45%;
      height: 0;
   }
   .TestimonyVideoBox iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
   .HeaderMovPic{
      width: 100%;
   }
   .VidCarolina{
      width: auto;
      height: 168px;
   }
}
/*
.TestimonyVideoBox{
      position: relative;
      padding-bottom: 25%;
      height: 0;
   }
   .TestimonyVideoBox iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
*/