.HeaderPic{
   width: 100%;
}
.TestimonyVid{
 background-color: rgba(54, 54, 54, 0.95); 
 color: white;
 padding: 2% 2% 2% 2%;
 margin: 0% 0% 5% 0%;
 width: 95.05%; 
}
.TestimonyText{
   padding: 5% 8% 5% 8%;
}