.ThanksMainBox{
   background-color: white;
   color: #00356E;
   border-radius: 50px;
}
.exp{
   background-color: #457EB6;
   color: white;
}
@media(max-width:768px){
   .ThanksWebBox{
      display: none;
   }
   .ThanksMovBox{
      padding: 5% 5% 5% 5%;
   }
   .ThanksText{
      margin: 0% 0% 5% 0%;
      text-align: center;
   }
   .ThanksText p.font40{
      padding: 25% 2% 1% 2%;
   }
   .ThanksText p.font32{
      padding: 0% 3% 5% 3%;
      line-height: 1.2;
   }
   .hashtag{
      width: 100%;
   }
   .InstaBlue{
      width: 10%;
   }
   .WebBlue{
      width: 10%;
   }
   .WebBlueText{
      margin: 2% 0%;
      padding: 0%;
      text-align: center;
   }
   .InstaBlueText{
      margin: 2% 0%;
      padding: 0%;
      text-align: center;
   }
}
@media(min-width:769px){
   .ThanksMovBox{
      display: none;
   }
   .ThanksWebBox{
      padding: 5% 5% 5% 5%;
   }
   .ThanksText{
      margin: 0% 0% 5% 0%;
   }
   .ThanksText p{
      padding: 0% 8%;
   }
   .hashtag{
      width: 100%;
   }
   .InstaBlue{
      width: 10%;
   }
   .WebBlue{
      width: 10%;
   }
   .WebBlueText{
      margin: 2% 0%;
   }
   .InstaBlueText{
      margin: 2% 0%;
   }
}