.MainBox{
   position: relative;
   background-color: rgba(231, 231, 231, 0.8);
   height: auto;
   color: #306088;
   padding: 5% 0% 2% 0%;
}
.XeoSubmitBTN{
   background-color: #306088;
   border-radius: 9px;
   width: 100%;
}
.MainWebBox{
   /* border-bottom: solid 2px white; */
   padding: 0% 0% 2% 0%;
}
.RegInvima p{
   color: #306088;
}
.RegInvima a:hover{
   text-decoration: none;
}

@media(min-width:769px){
   .MainMovBox{
      display: none;
   }
   .MERZBox{
      padding: 1% 2% 5% 0%;
      background-color: #363636/* rgba(26, 26, 26, 0.8) */;
      color: white;
      text-align: center;
   }
   .MerzSubtitle{
      font-size: calc(0.8rem + 0.1vw);/*0.6rem*/
      text-align: end; 
      border-right: solid 2px white;
      padding: 0% 0.5% 0% 0%;
   }
   .MerzSubtitle p{
      margin: 5% 0% 5% 0%;
   }
   .MerzTitle{
      font-size: calc(1.2rem + 0.2vw)/* 1.2rem */;
      margin: auto;
   }
   .RegInvima{
      margin: 1% auto 1% auto;
      text-align: center;
   }
   .RegInvima p{
      text-align: center;
   }
   .EndForm{
      width: 100%;
   }
   .pencilPic{
      position: absolute;
      top: 0%;
      left: 0%;
      width: 10%;
   }
   .pencilText{
      padding: 0% 10%;
   }
   .X{
      position: absolute;
      top: 0%;
      bottom: 0%;
      left: 20%;
      height: 100%;
      
   }
}
@media(max-width:768px){
   .MainBox{
      padding: 5% 0% 12% 0%;
   }
   .MainWebBox{
      display: none;
   }
   .MERZBox{
      padding: 1% 2% 0% 0%;
   }
   .MerzSubtitle{
      text-align: end;
   }
   .pencilPic{
      position: absolute;
      top: 0%;
      left: -5%;
      width: 10%;
   }
   .pencilText{
      padding: 0% 5%;
   }
   .EndForm{
      width: 100%;
   }
   .RegInvima p{
      text-align: center;
   }
   .MERZBox{
      padding: 1% 2% 5% 0%;
      background-color: #363636/* rgba(26, 26, 26, 0.8) */;
      color: white;
      text-align: center;
   }
   .RegInvima{
      margin: 5% 0% 2% 0%;
   }
}