.MainBox{
   background-color: rgba(54, 54, 54, 1.0);
   height: auto;
   color: white;
   padding: 5% 0% 2% 0%;
}
.XeoSubmitBTN{
   background-color: #457EB2;
   border-radius: 9px;
   width: 100%;
}
.MainWebBox{
   /* border-bottom: solid 2px white; */
   padding: 0% 0% 2% 0%;
}
.RegInvima p{
   color: white;
}
.RegInvima a:hover{
   text-decoration: none;
}

@media(min-width:769px){
   .MainMovBox{
      display: none;
   }
   .MERZBox{
      padding: 1% 2% 0% 0%;
   }
   .MerzSubtitle{
      font-size: calc(0.8rem + 0.1vw);/*0.6rem*/
      text-align: end; 
      border-right: solid 2px white;
      padding: 0% 0.5% 0% 0%;
   }
   .MerzSubtitle p{
      margin: 5% 0% 5% 0%;
   }
   .MerzTitle{
      font-size: calc(1.2rem + 0.2vw)/* 1.2rem */;
      margin: auto;
   }
   .RegInvima{
      margin: 1% auto 5% auto;
      text-align: center;
   }
   .RegInvima p{
      text-align: center;
   }
   .EndForm{
      width: 100%;
   }
   .pencilPic{
      position: absolute;
      top: 0%;
      left: 0%;
      width: 10%;
   }
   .pencilText{
      padding: 0% 10%;
   }
}
@media(max-width:768px){
   .MainBox{
      padding: 5% 0% 12% 0%;
   }
   .MainWebBox{
      display: none;
   }
   .MERZBox{
      padding: 1% 2% 0% 0%;
   }
   .MerzSubtitle{
      text-align: end;
   }
   .pencilPic{
      position: absolute;
      top: 0%;
      left: -5%;
      width: 15%;
   }
   .pencilText{
      padding: 0% 10%;
   }
   .EndForm{
      width: 100%;
   }
   .RegInvima p{
      text-align: center;
   }
}