.XeominMainWebBox{
   overflow: hidden;
   color: #636362;
}
.XeominBlue{
 color: #4478B8;
}
.Merz_Azul{
   display: block;
   width: 25%;
   margin: -0% auto 0% auto;
}
.Merz_Azul2{
   display: block;
   width: 25%;
   margin: 0% auto 0% auto;
}
.XeominTitle{
   text-align: center;
}
.XeominText{
   text-align:  left;
}
.XeominTitlePic{
   width: 100%;
}
.Toxina1{
   width: 300%;
   transform: scale(1,-1) rotate(20deg);
   margin: -10% 0% 0% -190%;
}
.Toxina2{
   width: 300%;
   transform: scale(1,-1) rotate(-134deg);
   margin: 100% 0% 0% 50%;
}
.XeoProc{
   margin: 5% 0% 0% 0%;
   align-items: center;
}
.ToxinaBlue{
   width: 100%;
   margin: -40% 0% 35% -50%;
   transform: rotate(40deg);
}
.DrFrevert{
   background-color: #457EB9;
   color: white;
   margin: 1% 0% 2% 0%;
}
/*WEB*/
@media(min-width:769px){ 
   .XeominMainMovBox{
      display: none;
   }
   .XeoSection{
      margin: 3% 0% 2% 0%;
   }
   .XeoBorderL{
      border-right: solid 2px #4478B8 ;  
   }
   .XeoCiteBox{
      display: flex;
      width: 95%;
      margin: 0% auto;
   }
   .XeoCitePic{
      display: flex;
      width: 10%;
   }
   .XeoCiteText{
      display: flex;
      width: 80%;
      padding: 0% 10% 0% 0%;
   }
   .DrFrevert{
      display: flex;
      width: 80.5%;
      margin: 0% auto 0% auto;
   }
   .DrFrevertBox{
      width: 30%;
   }
   .DrFrevertPic{
      width: 100%;
      margin: 0% 0% 0% -5%;
   }
   .DrFrevertTextBox{
      display: block;
      width: 70%;
      /* padding: 3% 4% 0% 2% !important; */
      margin: auto 4%;
   }
   .DrFrevertText{
      margin: 4% 0% 5% 0%;
   }
   .XeoHistory{
      width: 65%;
      display: block;
      margin: 5% auto;
   }
   .FrevertPostText{
      margin-bottom: 8%;
   }
   .XeominBlockBLue{
      background-color: #306088;
   }
   .FrevertScientific{
      margin-bottom: 5%;   
   }
   .XeoProd{
      display: flex;
      width: 80%;
      margin: 5% auto;
      line-height: 1.25;
   }
   .XeoProdLeft{
      width: 30%;
      overflow: hidden;
   }
   .XeoProdRight{
      padding: 0% 0% 0% 2%;
      width: 70%;
   }
   .XeominLabPic{
      display: block;
      margin: 0% auto 0% auto;
      
      width: 100%;
      /* max-height: 404px;
      max-width: 354px; */
   }
   @media(min-width:1400px){
      
      .XeoProdLeft{
         width: 25%;
      }
      .XeoProdRight{
         width: 70%;
         line-height: 1.5;
         margin: 0% 0% 0% 4%;
      }
   }
   .XeominLabFinalText{
      text-align: center;
   }
   .XeoProcLeft{
      display: flex;
      width: 40%;
   }
   .XeoProcRight{
      display: block;
      width: 60%;
      margin: auto 0%;
   }
   .XtractPic{
      width: 100%;
   }
   .XtractVideo{
      display: flex;
      margin: 0% auto;
      background-color: #306088;
      color: white;
      text-align: left;
      padding: 5% 0%;
      width: 80.0%;
      align-items: center;
   }
   .XtractVideo p{
      display: inline-block;
      vertical-align: middle;
      margin: auto 0% auto 15%;
   }
   .WebVidBox{
      position: relative;
      padding-bottom: 25%;
      /* padding-top: 0px; */
      height: 0;
   }
   .WebVidBox iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
   .ToxinaBlue2{
      width: 50%;
      transform: translate(40%,-10%) rotate(45deg);
   }
   .XeoRecBox{
      margin: 5% 0%;
   }
   .XeominRec{
      padding: 0% 10% 0% 10%;      
   }
   .XeominRecText{
      padding: 0% 2% 0% 2% !important;
      position: relative;
   }
   .XeominRecText p::after{
      content: "";
      border-left: solid 3px #306088;
      position: absolute;
      top: 10%;
      left: 0%;
      bottom: 10%;
   }
   .XeoDose{
      display: flex;
      width: 70%;
      margin: 5% auto;
   }
   .XeominVialPic{
      width: 100%;
      padding: 0% 0% 0% 0%;
   }
   .XeominStepsBox{
      text-align: left;
   }
   .XeominStepsTitle{
      text-align: center;
      padding: 0% 25%;
   }
   .XeoSteps{
      width: 80%;  
      display: flex;
      margin: 5% auto 0% auto;
   }
   .Paso1Text{
      display: flex;
      width: 50%;
      margin: 0% auto 0% 0%;
   }
   .Paso1Pic{
      display: flex;
      width: auto;
      margin: -8% 10% 5% auto
   }
   .XeominTipsText{
      padding-left: 4%;
      position: relative;
   }
   .XeominTipsDot{
      height: 14px;
      width: 14px;
      border-radius: 50%;
      position: absolute;
      background-color: #4478B8;
      top: 7%;
      left: -8px;
   }
   .XeominTipsBox{
      /* border-left: solid 1px #4478B8; */
      padding-left: 4%;
      margin-bottom: 0%;
      padding-bottom: 1%;
   }
   .XeominTipsBox::after{
      content: "";
      border-left: solid 1px #4478B8;
      position: absolute;
      left: -2px;
      top: 14px;
      bottom: -15px;
   }
   .XeominTips::after p{
      background-color: #4478B8;
      border-radius: 50%;
   }
   .Paso2Pic{
      display: block;
      width: auto;
      margin: 10% auto 5% auto;
   }
   .Paso2Text{
      margin-bottom: 10%;
   }
   .XeominImportant{
      padding: 0.5% 0%;
      background-color: #E7E7E7;
      width: 100%;
      text-align: center;
   }
   .Paso3Pic{
      display: block;
      width: auto;
      margin: 0% auto 0% auto;
   }
   .VideoReconstitucion{
      display: flex;
      margin: 0% auto;
      background-color: #E7E7E7;
      padding: 2% 0%;
      width: 80%;
      align-items: center;
   }
   .VideoReconstitucion p{
      
      margin: auto 20%;
   }
   .VidReconstitucion{
      text-align: center;
   }
   .XeoTechnique{
      /* font-size: calc(0.5rem + 1vw); */
      text-align: center;
      margin: 0% 0% 5% 0%;
   }
   .One21Box{
      display: flex;
      width: 80%;
      margin: 0% auto 4% auto;
   }
   .One21Pic{
      display: block;
      width: auto;
      margin: -3.5% auto 0% auto;
   }
   .OneBoxLeft{
      width: 30%;
   }
   .OneBoxRight{
      width: 70%;
   }
   .One21Text{
      padding: 2% 5% 0% 5%;
      color: #636362;
   }
   .One21Full{
      color: #003869;
   }
   .One21{
      color: #0075C9;
   }
   .VideoONE21{
      background-color: #003869;
      color: white;
      padding: 2% 0%;
      width: 100%;
      margin: 0% auto;
   }
   .VideoONE21Inner{
      display: flex;
      width: 80%;
      margin: 0% auto;
   }
   .VideoONE21T{
      width: 40%;
   }
   .VideoONE21T p {
      text-align: left;
   }
   .VideoOneBox{
      width: 50%;
   }
   .list li::marker{
      color: #C2187E;
      background-color: #4478B8;
   }
   ol{
      list-style: none;
      counter-reset: my-awesome-counter;
      padding-left: 0%;
   }
   li {
      position: relative;
      counter-increment: my-awesome-counter;
      margin: 1rem;
      padding-left: 0%;
      margin-left: 0%;
   }
   .list li::before{
      background: #C2187E;
      content: counter(my-awesome-counter)".";
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      color: white;
      display: inline-block;
      line-height: 2rem;
      text-align: center;
      margin-right: 0.5rem;
   }
   .XeoDownloadText{
      text-align: center;
   }
   .XeoDownloadBTN{
      text-align: center;
      background-color: #4478B8;
      color: white;
      width: 40%;
      display: block;
      margin: 0% auto 0% auto;
      border-radius: 10px;
      padding: 1% 0%;
   }
   .XeoDownloadBTN:hover{
      color: white;
      transform: scale(1.05);
   }
   .BotonsXeoBox{
      display: flex;
      width: 65%;
      margin: 0% auto;
   }
}
/*CELL*/
@media(max-width:768px){
   .XeominMainMovBox{
      overflow: hidden;
   }
   .XeominMainWebBox{
      display: none;
   }
   .Merz_Azul{
      width: 50%;
      margin: 0% auto 5% auto;
   }
   .VideoMobile{
      width: auto;
      height: 168px;
   }
   .FirstBox{
      margin: 0%;
      padding: 0%;
   }
   .Toxina1{
      width: 20%;
      transform: scale(-1,1) rotate(120deg);
      position: absolute;
      margin: 0%;
      left: -15%;
      top: 5%;
   }
   .XeominTitle{
      display: block;
      margin: 5% auto;
      padding: 0% 15%;
   }
   .Toxina2{
      width: 20%;
      transform: scale(1,-1) rotate(-120deg);
      position: absolute;
      margin: 0%;
      right: -18%;
      top: 5%;
   }
   .ToxinaBlueBox{
      padding: 0%;
      width: 20%;
   }
   .ToxinaBlue{
      margin: -20% 0% 0% 0%;
      width: 80%;
   }
   .XeoBorderL{
      border-right: solid 2px #4478B8 ;  
   }
   .XeoCiteBox{
      display: flex;
      width: 85%;
      margin: 0% auto 5% auto;
   }
   .XeoCiteText{
      display: flex;
      width: 80%;
   }
   .DrFrevert{
      display: flex;
      width: 85%;
      margin: 0% auto;
   }
   .DrFrevertPicBox{
      width: 45%;
   }
   .DrFrevertPic{
      width: 100%;
      margin: 0% 0% 0% 0%;
   }
   .DrFrevertTextBox{
      width: 60%;
      padding: 5% 6% 0% 5% !important;
   }
   .DrFrevertText{
      padding: 0%;
      margin: 0% 0% 5% 0%;
      line-height: 1.2;
   }
   .FrevertPostTextBox{
      display: block;
      width: 85%;
      margin: 0% auto;
   }
   .FrevertPostText{
      margin: 5% 0%;
   }
   .XeominBlockBLue{
      background-color: #306088;
   }
   .FrevertScientific{
      margin-bottom: 5%;   
   }
   .XeoMovLabBox{
      display: flex;
      margin: 0% auto;
      width: 85%;
   }
   .XeoMovLabL{
      width: 30%;
      overflow: hidden;
   }
   .XeominLabPic{
      width: 150%;
      margin: 0% 0% 0% -25%;
   }
   .XeoMovLabR{
      width: 70%;
      padding: 0% 0% 0% 5%;
   }
   .XeominLabFinalText{
      text-align: center;
   }
   .XtractBox{
      margin: 0%;
      padding: 0%;
   }
   .XtractTechPostText{
      display: flex;
      width: 85%;
      margin: 3% auto 0% auto;
   }
   .XtractPic{
      width: 130%;
      height: auto;
      margin: 0% 0% 0% -15%;
   }
   .XtractTechPicBox{
      width: 40%;
   }
   .XtractTechTextBox{
      width: 60%;
   }
   .XtractTechCite{
      display: block;
      width: 80%;
      margin: 0% auto 5% auto;
   }
   .XtractVideo{
      background-color: #306088;
      color: white;
      text-align: center;
      margin: 0%;
      padding: 5% 0%;
   }
   /* .XtractTechPostText::after{
      content: "";
      border-bottom: solid 3px #306088;
      position: absolute;
      left: 20%;
      right: 20%;
      bottom: 5%;
   } */
   .XeominSteptsTitle{
      display: block;
      width: 70%;
      margin: 0% auto;
      text-align: center;
   }
   .XeominStepsBox{
      display: block;
      width: 85%;
      margin: 0% auto 0% auto;
      text-align: left;
   }
   .Step1{
      display: flex;
      width: 100%;
      margin: 0% auto;
      text-align: left;
   }
   .Step1L{
      display: block;
      width: 40%;
      flex-basis: 40%;
   }
   .Paso1Text{
      width: 50%;      
   }
   .Paso1Pic{
      width: 100%;
      margin: 0% auto 5% -5%
   }
   .Step1R{
      display: block;
      width: 60%;
      flex-basis: 60%;
   }
   .Step2{
      display: flex;
      width: 100%;
      margin: 0% auto;
   }
   .Step2L{
      display: inline-block;
      width: 60%;
   }
   .Paso2Text{
      margin-bottom: 10%;
   }
   .Step2R{
      display: inline-block;
      width: 40%;
   }
   .Paso2Pic{
      display: block;
      width: 100%;
      margin: 10% auto 5% auto;
   }
   .XeominImportant{
      background-color: #E7E7E7;
      text-align: center;
      padding: 2% 0%;
      margin: 0% 0% 5% 0%;
   }
   .XeominImportant p{
      margin: 0% 0%;
   }
   .Step3{
      display: flex;
      width: 100%;
      margin: 0% auto;
   }
   .Step3L{
      width: 60%;
   }
   .Step3R{
      width: 40%;
   }
   .Paso3Pic{
      display: block;
      width: 75%;
      margin: 0% auto 0% auto;
   }
   .XeominTipsText{
      padding-left: 5%;
      position: relative;
   }
   .XeominTipsDot{
      height: 8px;
      width: 8px;
      border-radius: 50%;
      position: absolute;
      background-color: #4478B8;
      top: 1%;
      left: -4px;
   }
   .XeominTipsBox{
      border-left: solid 1px #4478B8;
      /* padding-left: 2%; */
      margin-bottom: 0%;
      padding-bottom: 1%;
   }
   .XeominTips::after p{
      background-color: #4478B8;
      border-radius: 50%;
   }
   .VideoReconstitucion{
      background-color: #E7E7E7;
      text-align: center;
      padding: 3% 0% 5% 0%;
   }
   .VideoReconstitucion p{
      text-align: left;
      margin-left: 15%;
   }
   .XeoTechnique{
      display: block;
      font-size: calc(0.5rem + 1vw);
      text-align: center;
      margin: 5% auto 0% auto;
      width: 60%;
   }
   .XeoTechnique p{
      padding: 0% 10%;
   }
   .One21Box{
      display: flex;
      width: 85%;
      margin: 0% auto 4% auto;
      align-items: center;
   }
   .One21PicBox{
      width: 45%;
   }
   .One21Pic{
      display: block;
      width: 90%;
      padding: 0%;
      margin: 1% auto 0% auto;
   }
   .One21TextBox{
      width: 55%;
   }
   .One21TextBox p{
      margin: 0%;
   }
   .One21Text{
      color: #636362;
   }
   .One21Full{
      color: #003869;
   }
   .One21{
      color: #0075C9;
   }
   .ProtocolMov{
      width: 100%;
   }
   .VideoONE21{
      background-color: #003869;
      color: white;
      padding: 5% 0%;
      text-align: center;
   }
   .VideoONETitle{
      text-align: left;
      margin-left: 18%;
   }
   .VideoONE21 iframe{
      width: 100%;
      height: auto;
   }
   .list li::marker{
      color: #C2187E;
      background-color: #4478B8;
   }
   ol{
      list-style: none;
      counter-reset: my-awesome-counter;
      padding-left: 0%;
   }
   li {
      position: relative;
      counter-increment: my-awesome-counter;
      margin: 1rem;
      padding-left: 0%;
      margin-left: 0%;
   }
   .list li::before{
      background: #C2187E;
      content: counter(my-awesome-counter)".";
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      color: white;
      display: inline-block;
      line-height: 2rem;
      text-align: center;
      margin-right: 0.5rem;
   }
   .XeoDownloadTextBox{
      display: block;
      width: 85%;
      margin: 5% auto 0% auto;
   }
   .XeoDownloadText{
      text-align: center;
   }
   .XeoDownloadBTN{
      text-align: center;
      background-color: #4478B8;
      color: white;
      width: 60%;
      display: block;
      margin: 0% auto 5% auto;
      border-radius: 3px;
      padding: 1% 0%;
   }
   .InfoXeoBox{
      display: block;
      width: 90%;
      margin: 0% auto 5% auto;
   }
   .CampaingnGlobalBox{
      display: block;
      width: 90%;
      margin: 0% auto 5% auto;
   }
}