.XeominMainWebBox{
   overflow: hidden;
}
.XeominBlue{
 color: #4478B8;
}
.XeominTitle{
   text-align: center;
}
.XeominText{
   text-align:  left;
}
.XeominTitlePic{
   width: 100%;
}
.Toxina1{
   width: 200%;
   transform: scale(1,-1) rotate(10deg);
   margin: -10% 0% 0% -150%;
}
.Toxina2{
   width: 200%;
   transform: scale(1,-1) rotate(-135deg);
   margin: 0% 0% 0% 80%;
}
.XeoProc{
   margin: 5% 0% 0% 0%;
}
.ToxinaBlue{
   width: 70%;
   transform: rotate(40deg);
   margin: -5% 0% 5% 0%;
}
.DrFrevert{
   background-color: #457EB9;
   color: white;
   margin: 1% 0% 2% 0%;
}
/*WEB*/
@media(min-width:769px){ 
   .XeominMainMovBox{
      display: none;
   }
   .XeoSection{
      margin: 5% 0%;
   }
   .XeoBorderL{
      border-right: solid 2px #4478B8 ;  
   }
   .DrFrevert{
      margin-left: 5%;
   }
   .DrFrevertPic{
      width: 100%;
   }
   .DrFrevertTextBox{
      padding: 5% 4% 5% 2% !important;
   }
   .FrevertPostText{
      margin-bottom: 8%;
   }
   .XeominBlockBLue{
      background-color: #306088;
   }
   .FrevertScientific{
      margin-bottom: 5%;   
   }
   .XeominLabPic{
      width: 100%;
   }
   .XeominLabFinalText{
      text-align: center;
   }
   .XtractPic{
      width: auto;
   }
   .XtractVideo{
      background-color: #306088;
      color: white;
      text-align: left;
   }
   .XtractVideo p{
      padding: 10% 0% 0% 9%;
   }
   .ToxinaBlue2{
      width: 50%;
      transform: translate(40%,-10%) rotate(45deg);
   }
   .XeoRecBox{
      margin: 5% 0%;
   }
   .XeominRec{
      padding: 0% 10% 0% 25%;      
   }
   .XeominRecText{
      padding: 0% 2% 0% 2% !important;
      position: relative;
   }
   .XeominRecText p::after{
      content: "";
      border-left: solid 3px #306088;
      position: absolute;
      top: 10%;
      left: 0%;
      bottom: 10%;
   }
   .XeominVialPic{
      width: 75%;
      padding: 0% 0% 0% 20%;
   }
   .XeominStepsBox{
      text-align: left;
   }
   .XeominStepsTitle{
      text-align: center;
   }
   .Paso1Text{
      display: block;
      width: 50%;
      margin: 0% auto 0% auto;
   }
   .Paso1Pic{
      display: block;
      width: auto;
      margin: 0% auto 5% auto
   }
   .XeominTipsText{
      padding-left: 2%;
      position: relative;
   }
   .XeominTipsDot{
      height: 14px;
      width: 14px;
      border-radius: 50%;
      position: absolute;
      background-color: #4478B8;
      top: 1%;
      left: -8px;
   }
   .XeominTipsBox{
      border-left: solid 1px #4478B8;
      /* padding-left: 2%; */
      margin-bottom: 0%;
      padding-bottom: 1%;
   }
   .XeominTips::after p{
      background-color: #4478B8;
      border-radius: 50%;
   }
   .Paso2Pic{
      display: block;
      width: auto;
      margin: 10% auto 5% auto;
   }
   .Paso2Text{
      margin-bottom: 10%;
   }
   .XeominImportant{
      background-color: #E7E7E7;
   }
   .Paso3Pic{
      display: block;
      width: auto;
      margin: 0% auto 0% auto;
   }
   .VideoReconstitucion{
      background-color: #E7E7E7;
      padding: 2% 0%;
   }
   .VideoReconstitucion p{
      text-align: center;
      padding: 18% 0% 0% 0%;
   }
   .VidReconstitucion{
      text-align: center;
   }
   .XeoTechnique{
      font-size: calc(0.5rem + 1vw);
      text-align: center;
   }
   .One21Box{
      margin: 0% 0% 4% 0%;
   }
   .One21Pic{
      display: block;
      width: auto;
      margin: -3.5% auto 0% auto;
   }
   .One21Text{
      color: #636362;
   }
   .One21Full{
      color: #003869;
   }
   .One21{
      color: #0075C9;
   }
   .VideoONE21{
      background-color: #003869;
      color: white;
      padding-top: 2%;
   }
   .VideoONE21T p {
      text-align: center;
   }
   .VideoONE21 iframe{
      display: block;
      margin: 0% auto;
      text-align: center;
   }
   .list li::marker{
      color: #C2187E;
      background-color: #4478B8;
   }
   ol{
      list-style: none;
      counter-reset: my-awesome-counter;
      padding-left: 0%;
   }
   li {
      position: relative;
      counter-increment: my-awesome-counter;
      margin: 1rem;
      padding-left: 0%;
      margin-left: 0%;
   }
   .list li::before{
      background: #C2187E;
      content: counter(my-awesome-counter)".";
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      color: white;
      display: inline-block;
      line-height: 2rem;
      text-align: center;
      margin-right: 0.5rem;
   }
   .XeoDownloadText{
      text-align: center;
   }
   .XeoDownloadBTN{
      text-align: center;
      background-color: #4478B8;
      color: white;
      width: 40%;
      display: block;
      margin: 0% auto 0% auto;
      border-radius: 10px;
      padding: 1% 0%;
   }
   .XeoDownloadBTN:hover{
      color: white;
      transform: scale(1.05);
   }
}
/*CELL*/
@media(max-width:768px){
   .XeominMainMovBox{
      overflow: hidden;
   }
   .XeominMainWebBox{
      display: none;
   }
   .FirstBox{
      margin: 0%;
      padding: 0%;
   }
   .Toxina1{
      width: 40%;
      transform: scale(-1,-1) rotate(45deg);
      position: absolute;
      margin: 0%;
      left: -35%;
      top: -5%;
   }
   .Toxina2{
      width: 40%;
      transform: scale(1,-1) rotate(-150deg);
      position: absolute;
      margin: 0%;
      right: -35%;
      top: 0%;
   }
   .ToxinaBlueBox{
      padding: 0%;
   }
   .ToxinaBlue{
      width: 100%;
   }
   .XeoBorderL{
      border-right: solid 2px #4478B8 ;  
   }
   .DrFrevertPic{
      width: 100%;
      margin: 0% 0% 0% -10%;
   }
   .DrFrevertTextBox{
      padding: 5% 4% 2% 2% !important;
   }
   .DrFrevertText{
      padding: 0%;
      margin: 0%;
      line-height: 1.2;
   }
   .FrevertPostText{
      margin-bottom: 8%;
   }
   .XeominBlockBLue{
      background-color: #306088;
   }
   .FrevertScientific{
      margin-bottom: 5%;   
   }
   .XeoMovLabBox{
      margin: 0%;
   }
   .XeominLabPic{
      width: 160%;
      margin: 0% 0% 0% -45%;
   }
   .XeominLabFinalText{
      text-align: center;
   }
   .XtractBox{
      margin: 0%;
      padding: 0%;
   }
   .XtractPic{
      width: 100%;
      height: 100%;
   }
   .XtractVideo{
      background-color: #306088;
      color: white;
      text-align: left;
   }
   .XtractTechPostText::after{
      content: "";
      border-bottom: solid 3px #306088;
      position: absolute;
      left: 20%;
      right: 20%;
      bottom: 5%;
   }
   .ToxinaBlue2{
      width: 100%;
      transform: translate(40%,-10%) rotate(45deg);
      margin-left: -50%;
   }
   .XeominRec{
      padding: 0% 0% 0% 1%;
      margin: 0%;
      /* font-size: calc(1.0rem + 1vw); */
   }
   .XeominRecText{
      padding: 0% 3% 0% 5% !important;
      margin: 0% 0% 5% 0%;
   }
   .XeominRecText p{
      margin: 0%;
   }
   .XeominRecText .font18{
      padding: 0% 20% 0% 0%;
   }
   .XeominVialPic{
      width: 200%;
      padding: 0% 0% 0% 0%;
      margin: 0% 0% 0% -40%;
   }
   .XeominStepsBox{
      text-align: left;
   }
   .XeominStepsTitle{
      text-align: center;
   }
   .Paso1Text{
      display: block;
      width: 50%;
      margin: 0% auto 0% auto;
   }
   .Paso1Pic{
      display: block;
      width: 100%;
      margin: 0% auto 5% auto
   }
   .XeominTipsText{
      padding-left: 5%;
      position: relative;
   }
   .XeominTipsDot{
      height: 8px;
      width: 8px;
      border-radius: 50%;
      position: absolute;
      background-color: #4478B8;
      top: 1%;
      left: -4px;
   }
   .XeominTipsBox{
      border-left: solid 1px #4478B8;
      /* padding-left: 2%; */
      margin-bottom: 0%;
      padding-bottom: 1%;
   }
   .XeominTips::after p{
      background-color: #4478B8;
      border-radius: 50%;
   }
   .Paso2Pic{
      display: block;
      width: 100%;
      margin: 10% auto 5% auto;
   }
   .Paso2Text{
      margin-bottom: 10%;
   }
   .XeominImportant{
      background-color: #E7E7E7;
      text-align: center;
      padding: 2% 0%;
   }
   .XeominImportant p{
      margin: 0% 0%;
   }
   .Paso3Pic{
      display: block;
      width: 75%;
      margin: 0% auto 0% auto;
   }
   .VideoReconstitucion{
      background-color: #E7E7E7;
      text-align: center;
   }
   .VideoReconstitucion p{
      text-align: left;
      margin-left: 15%;
   }
   .XeoTechnique{
      font-size: calc(0.5rem + 1vw);
      text-align: center;
      margin: 0%;
   }
   .One21Box{
      margin: 0% 0% 4% 0%;
   }
   .One21Pic{
      display: block;
      width: 70%;
      padding: 5% 10%;
      margin: 1% auto 0% auto;
   }
   .One21Text{
      color: #636362;
   }
   .One21Full{
      color: #003869;
   }
   .One21{
      color: #0075C9;
   }
   .ProtocolMov{
      width: 100%;
   }
   .VideoONE21{
      background-color: #003869;
      color: white;
      padding: 5% 0%;
      text-align: center;
   }
   .VideoONETitle{
      text-align: left;
      margin-left: 18%;
   }
   .VideoONE21 iframe{
      width: 100%;
      height: auto;
   }
   .list li::marker{
      color: #C2187E;
      background-color: #4478B8;
   }
   ol{
      list-style: none;
      counter-reset: my-awesome-counter;
      padding-left: 0%;
   }
   li {
      position: relative;
      counter-increment: my-awesome-counter;
      margin: 1rem;
      padding-left: 0%;
      margin-left: 0%;
   }
   .list li::before{
      background: #C2187E;
      content: counter(my-awesome-counter)".";
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      color: white;
      display: inline-block;
      line-height: 2rem;
      text-align: center;
      margin-right: 0.5rem;
   }
   .XeoDownloadText{
      text-align: center;
      color: white;
   }
   .XeoDownloadBTN{
      text-align: center;
      background-color: #4478B8;
      color: white;
      width: 40%;
      display: block;
      margin: 0% auto 0% auto;
      border-radius: 10px;
   }
}