.loginBox{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: rgba(54, 54, 54, 1.0);
   height: 100vh;
   color: white;
}
.MainLogBox{
   margin-top: 10%;
   background-color: black;
   border-radius: 40px;
   padding: 5% 5% 5% 5%;
   text-align: center;
}
.MainBox h1{
   margin-bottom: 5%;
   font-size: calc(2.0rem + 1vw);
}
.FormBox{
   display: block;
   margin: 0% auto;
   width: 60%;
   background-color: rgba(255, 255, 255, 0.6);
   border-radius: 20px;
   padding: 3% 2% 2% 2%;
   color: black;
   text-align: center;
}
.FormBox p{
   padding: 0% 8%;
}
.FormBox input{
   border-radius: 10px;
   width: 90%;
   border-color: transparent;
}
.LogBTN{
   display: block;
   width: 50%;
   margin: 3% auto 0% auto;
   background-color: #457EB2;
   border-radius: 10px;
   border-style: hidden;
   color: white;
   padding: 1% 0%;
}
hr{
   background-color: white;
   height: 1px;
   width: 70%;
}
.ColorsLog{
   margin: 2% 0% 2% 0%;
   width: 100%;
}
.LoginExclusiveText{
   text-align: center;
}
@media(max-width:768px){
   .MainLogBox{
      background-color: transparent;
   }
   .MainLogBox h1{
      margin-bottom: 8%;
   }
   .FormBox{
      display: block;
      margin: 0% auto;
      width: 80%;
      padding: 5% 0%;
   }
   .FormBox p{
      padding: 3% 10%;
   }
   .FormBox input{
      border-radius: 5px;
      width: 80%;
   }
}