@font-face {
   font-family: Raleway;
   src: url("./fonts/Raleway-Regular.ttf");
}
.Raleway{
   font-family: Raleway;
}
@font-face {
   font-family: RalewayBold;
   src: url("./fonts/Raleway-Bold.ttf");
}
.RalewayBold{
   font-family: RalewayBold;
}
@font-face {
   font-family: RalewayBlack;
   src: url("./fonts/Raleway-Black.ttf");
}
.RalewayBlack{
   font-family: RalewayBlack;
}
@font-face {
   font-family: RalewayLight;
   src: url("./fonts/Raleway-Light.ttf");
}
.RalewayLight{
   font-family: RalewayLight;
}
@font-face {
   font-family: RalewayMedium;
   src: url("./fonts/Raleway-Medium.ttf");
}
.RalewayMedium{
   font-family: RalewayMedium;
}
@media(min-width:769px){
   .font18{
      /* font-size: calc(0.9rem + 0.1vw); */
      font-size: 18px;
   }
   .font21{
      /* font-size: calc(1.1rem + 0.1vw); */
      font-size: 21px;
   }
   .font24{
      /* font-size: calc(1.3rem + 0.1vw); */
      font-size: 24px;
   }
   .font32{
      /* font-size: calc(1.8rem + 0.1vw); */
      font-size: 32px;
   }
   .font36{
      font-size: 36px;
   }
   .font40{
      /* font-size: calc(2.3rem + 0.1vw); */
      font-size: 40px;
   }
   .trademark{
      font-size: 70%/* 1rem */;
      vertical-align: top;
   }
}
@media(max-width:768px){
   .font18{
      font-size: calc(0.25rem + 1vw);
      /* font-size: 18px; */
      line-height: 1.1;
   }
   .font21{
      font-size: calc(0.4rem + 1vw);
      /* font-size: 21px; */
      line-height: 1.1;
   }
   .font24{
      font-size: calc(0.55rem + 1vw);
      /* font-size: 24px; */
      line-height: 1.1;
   }
   .font32{
      font-size: calc(0.8rem + 1vw);
      /* font-size: 32px; */
      line-height: 1.1;
   }
   .font40{
      font-size: calc(1.0rem + 1vw);
      /* font-size: 40px; */
      line-height: 1.1;
   }
   .trademark{
      font-size: 70%/* 0.8rem */;
      vertical-align: top;
   }
}