.ExclusiveBox{
   width: 100%;
   background-color: rgba(0, 0, 0, 0.8);
   position: fixed;
   bottom: 1%;
   color: white;
   text-align: center;
   padding: 1% 0%;
}
.ExclusiveText{
   opacity: 1;
   display: inline-block;
   margin: auto 0%;
}
@media(max-width:768px){
   .ExclusiveBox{
      height: auto;
   }
   .ExclusiveBox p{
      display: block;
      margin: 1% 0%;
   }
}
@media(min-width:769px){
   
}