.ExclusiveBox{
   width: 100%;
   background-color: rgba(4, 4, 4, 0.9);
   height: 10vh;
   position: fixed;
   bottom: 10%;
   color: white;
   text-align: center;
   
}
.ExclusiveText{
   opacity: 1;
   display: inline-block;
   margin: 1.5% 0%;
   font-size: calc(0.3rem + 1vw);
}